<ion-content *ngIf="historias == undefined">
  
    <h1>=(<br>Não há histórias disponíveis, comece criando a sua!</h1>

</ion-content>


<ion-content>

  <ion-grid *ngIf="historias != undefined">
    <ion-row *ngFor="let h of historias">
      <ion-card>
        <div class="topCardContainer">
          <ion-row>
            <ion-text class="nome">{{h.criador.nome}}</ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="login">@{{h.criador.login}}</ion-text>
          </ion-row>
        </div>
        <ion-row>
          <ion-text class="titulo">{{h.titulo}}</ion-text>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="h.encerrada == false">
            <ion-button size="small" (click)="participar(h.id);">Participar</ion-button>
          </ion-col>
          <ion-col *ngIf="h.encerrada == true">
            <ion-button size="small" (click)="participar(h.id);">Ler história</ion-button>
          </ion-col>
          <ion-col>
            <ion-text>Ciclo atual: {{h.ciclo_atual}}\{{h.total_ciclos}}</ion-text>
          </ion-col>
          
        </ion-row>
        <ion-row *ngIf="h.rank != undefined">
          <ion-row class="rankTitle">
            <ion-label>Rank</ion-label>  
          </ion-row>
          <ion-row *ngFor="let rank of h.rank; let i = index" class="rankContainer">
            <ion-row class="line">
              <ion-col class="column" size="1">
                <ion-label>{{i+1}}º</ion-label>
              </ion-col>
              <ion-col class="column" size="3">
                <ion-label>{{rank.login}}</ion-label>
              </ion-col>
              <ion-col class="column" size="5">
                <ion-label>{{rank.nome}}</ion-label>
              </ion-col>
              <ion-col class="column" size="3">
                <ion-label>{{rank.total}} pontos</ion-label>
              </ion-col>
            </ion-row>
          </ion-row>
        </ion-row>
      </ion-card>
    </ion-row>
  </ion-grid>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="criar()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
