ion-grid{
    width: 100%;
}
ion-card{
    width: 100%;
}
.titulo{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 10px;
}

.login{
    font-size: 12px;
  
}

.nome{
    font-size: 16px;
}